<div class="border rounded-4 p-4 shadow-sm">
  <%= form_with(model: staff) do |form| %>
    <% if staff.errors.any? %>
      <div class="alert alert-danger">
        <h4><%= pluralize(staff.errors.count, "error") %> prohibited this staff from being saved:</h4>
        <ul>
          <% staff.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-3">
      <%= form.label :name, class: "form-label fw-bold" %>
      <%= form.text_field :name, class: "form-control", placeholder: "Enter staff name" %>
    </div>

    <div class="mb-3">
      <%= form.label :email, class: "form-label fw-bold" %>
      <%= form.text_field :email, class: "form-control", placeholder: "Enter staff email" %>
    </div>

    <div class="mb-3">
      <%= form.label :monthly_salary, class: "form-label fw-bold" %>
      <%= form.number_field :monthly_salary, class: "form-control", placeholder: "Enter monthly salary" %>
    </div>

    <div class="mb-3">
      <%= form.label :status, class: "form-label fw-bold" %>
      <%= form.text_field :status, class: "form-control", placeholder: "Enter status" %>
    </div>

    <div class="mb-3">
      <%= form.label :department_id, "Department", class: "form-label fw-bold" %>
      <%= form.collection_select :department_id, Department.all, :id, :name, 
            { prompt: "Select a Department" },
            { class: "form-select" } %>
    </div>

    <% if staff.new_record? %>
      <div class="d-flex justify-content-between">
        <%= link_to staffs_path, class: "btn btn-secondary d-flex align-items-center gap-2" do %>
          <i class="bi bi-box-arrow-left"></i>
          Back to staffs
        <% end %>

        <%= form.button class: "btn btn-success d-flex align-items-center gap-2" do %>
          <i class="bi bi-person-plus-fill"></i>
          Create Staff
        <% end %>
      </div>
    <% else %>
      <div class="d-flex justify-content-between align-items-center mt-3">
        <div class="d-flex gap-2">
          <%= link_to "#",
              class: "btn btn-danger d-flex align-items-center gap-2",
              data: { bs_toggle: "modal", bs_target: "#confirmDeleteModal", staff_id: staff.id } do %>
            <i class="bi bi-trash-fill"></i>
            Delete Staff
          <% end %>

          <%= form.button class: "btn btn-success d-flex align-items-center gap-2" do %>
            <i class="bi bi-arrow-repeat"></i>
            Update Staff
          <% end %>
        </div>

        <%= link_to staffs_path, class: "btn btn-secondary d-flex align-items-center gap-2" do %>
          <i class="bi bi-box-arrow-left"></i>
          Back to staffs
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
