<% content_for :title, "Staffs" %>

<div class="d-flex justify-content-between align-items-center mb-3">
  <div class="d-flex align-items-center gap-2">
    <i class="bi bi-people-fill fs-3"></i>
    <h2 class="fw-bold m-0">List of Staffs</h2>
  </div>

  <%= link_to new_staff_path, class: "btn btn-success rounded-pill d-flex align-items-center gap-2" do %>
    <i class="bi bi-person-fill-add"></i>
    <span class="fw-semibold text-white">New Staff</span>
  <% end %>
</div>

<div class="border shadow-sm p-4 rounded-4 table-responsive bg-white">
  <table class="table table-striped table-hover w-100">
    <thead>
      <tr>
        <th class="text-secondary fw-normal" style="width: 20%;">Name</th>
        <th class="text-secondary fw-normal" style="width: 20%;">Email</th>
        <th class="text-secondary fw-normal" style="width: 15%;">Monthly Salary</th>
        <th class="text-secondary fw-normal" style="width: 15%;">Status</th>
        <th class="text-secondary fw-normal" style="width: 20%;">Department</th>
        <th class="text-secondary fw-normal text-center" style="width: 10%;">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @staffs.each do |staff| %>
        <tr class="fw-medium">
          <td><%= staff.name %></td>
          <td><%= staff.email %></td>
          <td><%= staff.monthly_salary %></td>
          <td><%= staff.status %></td>
          <td><%= staff.department.name %></td>
          <td class="d-flex justify-content-center gap-2">
            <%= link_to "Show", staff_path(staff), class: "btn btn-sm btn-primary" %>
            <%= link_to "Edit", edit_staff_path(staff), class: "btn btn-sm btn-secondary" %>
            <%= button_tag "Delete",
              type: "button",
              class: "btn btn-sm btn-danger",
              data: { bs_toggle: "modal", bs_target: "#confirmDeleteModal", staff_id: staff.id } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>