

<% content_for :title, "Staffs" %>

<h1>List Staffs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Monthly Salary</th>
      <th>Status</th>
      <th>Department</th>
      <th>Show</th>
    </tr>
  </thead>
  <tbody>
    <% @staffs.each do |staff| %>
      <tr>
        <td><%= staff.name %></td>
        <td><%= staff.email %></td>
        <td><%= staff.monthly_salary %></td>
        <td><%= staff.status %></td>
        <td><%= staff.department.name %></td>
        <td><%= link_to "Show this staff", staff_path(staff) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New staff", new_staff_path %>
