<div id="<%= dom_id guardian %>">
  <p>
    <strong>Name:</strong>
    <%= guardian.name %>
  </p>

  <p>
    <strong>Email address:</strong>
    <%= guardian.email_address %>
  </p>

  <p>
    <strong>Contact number:</strong>
    <%= guardian.contact_number %>
  </p>

  <p>
    <strong>Number of students:</strong>
    <%= guardian.number_of_students %>
  </p>

</div>
