<div id="<%= dom_id student %>" class="border shadow-sm rounded-3 overflow-hidden mb-3">
  <div class="bg-primary text-white p-4 d-flex align-items-center gap-3">
    <i class="bi bi-person-vcard-fill fs-1"></i>
    <div class="d-flex flex-column justify-content-center">
      <h3 class="mb-0 fw-bold"><%= student.name %></h3>
      <p class="mb-0 opacity-75"><%= student.department.name %> - <%= student.program %></p>
    </div>
  </div>

  <div class="p-4">
    <div class="row text-center g-3">
      <div class="col-12 col-md-4">
        <p class="text-secondary small mb-1">Year Level</p>
        <h5><%= student.year_level %></h5>
      </div>
      <div class="col-12 col-md-4">
        <p class="text-secondary small mb-1">Total Number of Units</p>
        <h5><%= student.number_of_units %></h5>
      </div>
      <div class="col-12 col-md-4">
        <p class="text-secondary small mb-1">Total Assessment</p>
        <h5>₱<%= number_with_delimiter(student.total_assessment) %></h5>
      </div>
    </div>
  </div>
</div>