 

<%= render @department %>

<p> <strong> Number of Students: </strong> <%= @department.student_count %> </p>
<p> <strong> Number of Employees: </strong> <%= @department.employee_count %> </p>

<h3> List of Students</h3>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Program</th>
      <th>Year Level</th>
      <th>Total Assessment</th>
      </tr>
  </thead>
  <tbody>
  <% @department.students.each do |student| %>
    <tr>
      <td> <%= student.name %> </td>
      <td> <%= student.program %> </td>
      <td> <%= student.year_level %> </td>
      <td> <%= student.total_assessment %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
    
<h3> List of Teachers </h3>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Specialization</th>
      <th>Status</th>
      <th>Monthly Salary</th>
    </tr>
  </thead>
  <tbody>
    <% @department.teachers.each do |teacher| %>
    <tr>
      <td> <%= teacher.name %> </td>
      <td> <%= teacher.email %> </td>
      <td> <%= teacher.specialization %> </td>
      <td> <%= teacher.status %> </td>
      <td> <%= teacher.monthly_salary %> </td>
    </tr>
    <% end %>  
  </tbody>
</table>

<h3> List of Staff </h3>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Status</th>
      <th>Monthly Salary</th>
    </tr>
  </thead>
  <tbody>
    <% @department.staffs.each do |staff| %>
    <tr>
      <td> <%= staff.name %> </td>
      <td> <%= staff.email %> </td>
      <td> <%= staff.status %> </td>
      <td> <%= staff.monthly_salary %> </td>
    </tr>
    <% end %>  
  </tbody>
</table>

<hr>

<div>
  <%= link_to "Edit this department", edit_department_path(@department) %> |
  <%= link_to "Back to departments", departments_path %>

  <%= button_to "Destroy this department", @department, method: :delete %>
</div>
