<div id="<%= dom_id teacher %>">
  <p>
    <strong>Name:</strong>
    <%= teacher.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= teacher.email %>
  </p>

  <p>
    <strong>Specialization:</strong>
    <%= teacher.specialization %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= teacher.status %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= teacher.department_id %>
  </p>
  
  <p>
    <strong>Total Units:</strong>
    <%= teacher.number_of_units %>
  </p>
  
  <p>
    <strong>Monthly Salary:</strong>
    <%= teacher.monthly_salary %>
  </p>

  </div>
